@font-face {
	font-family: 'MyriadPro-Cond-Light';
	src: url('../fonts/MyriadPro-LightCond.eot');
	src: url('../fonts/MyriadPro-LightCond.woff') format('woff'),
	     url('../fonts/MyriadPro-LightCond.ttf') format('truetype'), 
	     url('../fonts/MyriadPro-LightCond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	
	font-family: 'MyriadPro-Cond';
	src: url('../fonts/MYRIADPRO-COND.eot');
	src: url('../fonts/MYRIADPRO-COND.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MYRIADPRO-COND.woff') format('woff'), 
		 url('../fonts/MYRIADPRO-COND.ttf') format('truetype'), 
		 url('../fonts/MYRIADPRO-COND.svg#MyriadPro-Cond') format('svg'); 
	font-weight: normal; 
	font-style: normal;
}

body {
  font-size: 18px;
  color: white;
  background-color: #707070;
  font-family: 'MyriadPro-Cond', 'MyriadPro-Cond-Light', 'Open Sans', sans-serif;;
}


/*Header*/


.green {
	height: 40px;
	background-color: #6cac57; 
}
.green p {
	text-align:right; 
	color:#57585A; 
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1px;
}
#change-lang>button {
	padding: 0 0 0 20px;
	color:#57585A; 
	font-size: 25px;
	background-color: #6cac57; 
	border: 0;
}
#change-lang>.dropdown-menu>li>a {
	background-color: #6cac57; 

	font-size: 25px;
	color:#57585A;
}

#change-lang>.dropdown-menu {
	background-color: #6cac57;
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
	min-width: 10px;
	
	
}

#header-nav {
	background-color: #56575a;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/logo-up220-94.png') no-repeat;
	width: 220px;
	height: 94px;
	
	position: absolute;
	left: 0;
	top: -40px;
	z-index: 1070;

}

#nav-list {
	margin-top: 0;
}
#nav-list>li>a {
	font-size: 19px;
	text-align: center;
	color: white;
	background-color: #56575a;
}
#nav-list a:hover {
	color: #6cac57;
}
#nav-list>li>ul>li {
	border-top: 1px solid white;

} 
#nav-list>li>ul>li>a {
	background-color: #56575a;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #6cac57;
}
.navbar-nav .open .dropdown-menu {
	background-color: #56575a;
}
/*end header*/
.dropdown-menu>li>a {
	text-align: left;
	font-size: 18px;
	color: white;
	background-color: #56575a;
}
.dropdown-menu {
	padding-bottom: 0;
	padding-top: 0;
}


/*footer*/
.panel-footer {
	background-color: #707070;
	border-top: 0;
	padding: 0;
	background-color: #56575a;
	margin-top: 70px;
}

	
#nav-list-down>li>a {
	font-size: 19px;
	text-align: center;
	color: white;
	background-color: #56575a;
}
#nav-list-down a:hover {
	color: #6cac57;
}
#footer-adress {
	color: #AAAAAA;
}
#footer-tel {
	color: #6CAD58;
}	

}
/*#foot {
#

}
#foot a {
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	/*width: 100px;*/
/*}
#foot a:hover {
	color: #6cac57;
}*/


/*
#logo-nav {
	position: absolute;
	width: 300px;
	height: 80px;
	left: 50px;
	top: 0;
	background-color: #474747;
	z-index: 100;
}
*/



/*Home page*/

.container .jumbotron {
	box-shadow: 0 2px 30px #404040;
	border: 1px solid #404040;
	
}
#main-content {
	margin-bottom: 70px;
}
#main-content-ukr {
	margin-bottom: 70px;
}

.company-header {
	background: #90ACAA;
	border-radius: 20px 20px 0 0;
	position: relative;
	height: 70px;
}
header h1.company-h1 {

	color: #528A85;
	text-align: center;
	padding-top: 15px;
	margin-top: 0;
/*	padding: 0 85px 0 85px;*/
		
}


#about-company {
	height: 650px;
	width: 100%;
	margin-bottom: 30px;
	margin-right: 50px; 
	border-radius: 20px;
	position: relative;
	background-color: #C2C5C6;
	overflow: hidden;
}

#about, #technika, #building, #shipping, #rent, #contact {
	height: 290px;
	width: 100%;
	margin-bottom: 70px;
	position: relative;
	border: 1px solid #56575a;
	border-radius: 20px;
	overflow: hidden;
}

#about:hover, #technika:hover, #building:hover, #shipping:hover, #rent:hover, #contact:hover {
	box-shadow: 0 2px 5px 1px #56575a;
}

#about {
	background: url('../images/about260-215.jpg') no-repeat;
	background-position: bottom;
}
#technika {
	background: url('../images/technika260-215.jpg') no-repeat;
	background-position: bottom;
}
#building {
	background: url('../images/building260-215.jpg') no-repeat;
	background-position: bottom;
}
#shipping {
	background: url('../images/shipping260-215.jpg') no-repeat;
	background-position: bottom;
}
#rent {
	background: url('../images/rent260-215.jpg') no-repeat;
	background-position: bottom;
}
#contact {
	background: url('../images/contact260-215.jpg') no-repeat;
	background-position: bottom;
}

#about span, #technika span, #building span, #shipping span, #rent span, #contact span {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 75px;
	font-size: 26px;
	border-radius: 20px 20px 0 0;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
#about span, #contact span {
	line-height: 75px;
}
#about span, #rent span {
	background-color: #EF9175;
}
#technika span, #contact span {
	background-color: #6CAD58;
}
#building span, #shipping span  {
	background-color: #528A85;
}

/*End home page*/

/*technika*/

#main-conten-technika {
	margin-bottom: 70px;
}

#avtokran, #avtovyshka, #assenizator, #ekskavator, #buldozer, #samosval, #evakuator,
 #pogruzchikvil, #pogruzchikfront, #skreper, #perevozka, #spil, #kultivator, #kran {
	height: 290px;
	width: 100%;
	margin-bottom: 70px;
	position: relative;
	border: 1px solid #56575a;
	border-radius: 20px;
	overflow: hidden;
}
#avtokran:hover, #avtovyshka:hover, #assenizator:hover, #ekskavator:hover, 
#buldozer:hover, #samosval:hover, #evakuator:hover, #pogruzchikvil:hover,
 #pogruzchikfront:hover, #skreper:hover, #perevozka:hover, #spil:hover, #kultivator:hover, #kran:hover {
	box-shadow: 0 2px 5px 1px #56575a;
}
#avtokran {
	background: url('../images/avtokran260-215.jpg') no-repeat;
	background-position: bottom;
}#avtovyshka {
	background: url('../images/avtovyshka260-215.jpg') no-repeat;
	background-position: bottom;
}
#assenizator {
	background: url('../images/assenizator260-215.jpg') no-repeat;
	background-position: bottom;
}
#ekskavator {
	background: url('../images/ekskavator260-215.jpg') no-repeat;
	background-position: bottom;
}
#buldozer {
	background: url('../images/buldozer260-215.jpg') no-repeat;
	background-position: bottom;
}
#samosval {
	background: url('../images/samosval260-215.jpg') no-repeat;
	background-position: bottom;
}
#evakuator {
	background: url('../images/evakuator260-215.jpg') no-repeat;
	background-position: bottom;
}
#pogruzchikvil {
	background: url('../images/pogruzchikvil260-215.jpg') no-repeat;
	background-position: bottom;
}
#pogruzchikfront {
	background: url('../images/pogruzchikfront260-215.jpg') no-repeat;
	background-position: bottom;
}
#skreper {
	background: url('../images/skreper260-215.jpg') no-repeat;
	background-position: bottom;
}
#perevozka {
	background: url('../images/perevozka260-215.jpg') no-repeat;
	background-position: bottom;
}
#spil {
	background: url('../images/spil260-215.jpg') no-repeat;
	background-position: bottom;
}
#kultivator {
	background: url('../images/kultivator260-215.jpg') no-repeat;
	background-position: bottom;
}
#kran {
	background: url('../images/kran260-215.jpg') no-repeat;
	background-position: bottom;
}

#avtokran span, #avtovyshka span, #assenizator span, #ekskavator span, #buldozer span,
 #samosval span, #evakuator span, #pogruzchikvil span, #pogruzchikfront span,
  #skreper span, #perevozka span, #spil span, #kultivator span, #kran span  {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 75px;
	font-size: 26px;
	font-family: MyriadPro-Cond-Light, Arial, Tahoma, Helvetica, Verdana;
	border-radius: 20px 20px 0 0;
	text-align: center;
/*	text-transform: uppercase;*/
	color: white;
}
#avtokran span, #avtovyshka span, #assenizator span, #ekskavator span, #buldozer span, #skreper span {
	line-height: 75px;
}
#avtokran span, #ekskavator span, #evakuator span, #pogruzchikfront span, #spil span, #kran span {
	background-color: #EF6152;
}
#assenizator span, #samosval span, #perevozka span {
	background-color: #6CAD58;
}
#avtovyshka span, #buldozer span, #pogruzchikvil span, #skreper span, #kultivator span  {
	background-color: #52908B;
}

/*end techika*/

/*aLL technika*/
.technika {
	height: 100%;
	width: 100%;
	margin-bottom: 30px;
/*	margin-top: 30px;*/
	position: relative;
	
	border-radius: 5px;
	overflow: hidden;
}
/*#example {
	width: 300px;
}*/
/*.img-tech {
	background:  no-repeat;
	background-position: center;
}*/
.technika-header {
	background: #69B359;
	border-radius: 20px 20px 0 0;
	position: relative;
	height: 50px;

}

header h1.technika-h1 {
		color: white;
		text-align: center;
		padding-top: 10px;
/*			padding: 0 85px 0 85px;*/
		
}
.odd {
	background-color: #979B9C;
}
.even {
	background-color: #858887;
}
.t-left {   
    color: white;
    padding-left: 20px;
}
.t-right {
    color: white;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
h1.pull-left {
	color: #69B359
}


/*forma*/
#f1 {
	background-color: #69B359;
	border: 0;
	border-radius: 0;
	text-align: center;
	font-size: 23px;
}
.nav-tabs>li>a {
	margin-right: 0;

}
.nav-tabs>li>a span {
	border: 1px solid white;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
}
#f2 {
	background-color: #474747;
	border: 0;
	border-radius: 0;
	color: white;
	text-align: center;
	font-size: 23px;
}
.tab-content {
	margin-top: 0; 
	background-color: #979B9C
}
input.form-control {
	background-color: #B7BBBC;
	border: 0;
	font-size: 20px;
}
.form-horizontal .control-label {
	text-align: left;
	color: black;
	/*font-family: Arial;
	-webkit-font-smoothing: none;*/
	/*font-family: Open Sans;
	font-weight: 300;*/
}
/*end forma*/

/***********************/
@media (min-width: 1200px) {
	/*footer*/
	#logo-down-img {
	background: url('../images/logo-down220-144.png') no-repeat;
	width: 220px;
	height: 144px;
	margin: 0;
	}
	#footer-adress {
	font-size: 22px;
	margin-bottom: 0;
	}
	#footer-tel {
	font-size: 21px;
	}	
	/*main*/
	.no-padding {
	padding-left: 30px;
	padding-right: 0;
	}
	#main-content .jumbotron {
		background: url('../images/baner1170-432.jpg') no-repeat;
		height: 432px;
	}
	#main-content-ukr .jumbotron {
		background: url('../images/baner-ukr1190-432.jpg') no-repeat;
		height: 432px;
	}
	#logo-tools {
		background: url('../images/tools80-80.jpg') no-repeat;
		width: 80px;
		height: 80px;
		margin-left: 5px;
		margin-right: 5px;
	}
	#tools-p {
		color: #4D4D4D;
		padding-right: 13px;
		padding-left: 13px;
		font-size: 20px;
	}
	/*technika*/
	#main-content-technika .jumbotron {
		background: url('../images/baner-tech1170-432.jpg') no-repeat;	
		height: 432px;
	}
	/*all technika*/
	h1.pull-left {
	font-size: 30px;
	margin-top: 15px;
	
	}
	#front-29 {
	font-size: 29px;
	}
	header h1.technika-h1 {
		font-size: 28px;	
	}
	.odd {
		height: 60px;
	}
	.even {
		height: 60px;
	}
	/*about*/
	#logo-tools-about {
		background: url('../images/tools-about230-70.jpg') no-repeat;
		width: 230px;
		height: 70px;
		margin-left: 5px;
		margin-right: 15px;
	}
	#tools-about-p {
		color: #4D4D4D;
		padding-top: 20px;
		padding-right: 20px;
		padding-left: 10px;
		font-size: 21px;
	}
	/*ukr variant*/
	#smittya {
		font-size: 29px;
	}
	#navantazhuvach {
		font-size: 28px;
	}
	#navantazhuvachvil {
		font-size: 30px;
	}
	/*.home {
		background: url('../images/home56-45.png') no-repeat;
		height: 45px;
	}
	.book {
		background: url('../images/book57-45.png') no-repeat;
		height: 45px;
	}*/

}

@media (min-width: 992px) and (max-width: 1199px) {
	/*footer*/
	#logo-down-img {
	background: url('../images/logo-down200-131.png') no-repeat;
	width: 200px;
	height: 131px;
	margin: 0;
	}
	#footer-adress {
	font-size: 19px;
	margin-bottom: 0;
	}
	#footer-tel {
	font-size: 18px;
	}	
	
	#logo-img {
		background: url('../images/logo-up200-85.png') no-repeat;
		width: 200px;
		height: 85px;

	/*	margin: 0 0 10px 0;*/
	}

	.green p {
		text-align:right; 
		color:#57585A; 
		font-size: 24px;
	}
	.green p>span {
		margin-left: 50px;
	}
	#nav-list>li>a {
		font-size: 17px;
	}
	#nav-list-down>li>a {
		font-size: 17px;
	}

	#main-content .jumbotron {
		background: url('../images/baner962-355.jpg') no-repeat;
		height: 355px;
		
	}
	#main-content-ukr .jumbotron {
		background: url('../images/baner-ukr978-355.jpg') no-repeat;
		height: 355px;
		
	}
	/*main*/
	#about, #technika, #building {
		/*display: table;*/
	}
	#about span, #technika span, #building span, #shipping span, #rent span, #contact span {
		font-size: 22px;
		/*display: table-cell;

		vertical-align: middle;*/

	}
	.no-padding {
	padding-left: 40px;
	padding-right: 0;
	}
	
	#logo-tools {
		background: url('../images/tools60-60.jpg') no-repeat;
		width: 60px;
		height: 60px;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 7px;
	}

	#tools-p {
		color: #4D4D4D;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 17px;
	}
	/*about*/
	#logo-tools-about {
		background: url('../images/tools-about197-60.jpg') no-repeat;
		width: 197px;
		height: 60px;
		margin-left: 5px;
		margin-right: 15px;
	}
	#tools-about-p {
		color: #4D4D4D;
		padding-top: 15px;
		padding-right: 20px;
		padding-left: 10px;
		font-size: 19px;
	}



	/*technika*/
	#main-content-technika .jumbotron {
		background: url('../images/baner-tech962-355.jpg') no-repeat;
		height: 355px;	
	}
	/*all technika*/
	h1.pull-left {
	font-size: 26px;
	margin-top: 20px;
	}
	#front-29 {
	font-size: 24px;
	}
	header h1.technika-h1 {
		font-size: 24px;	
	}
	.odd {
		height: 50px;
	}
	.even {
		height: 50px;
	}
	/*forma*/
	label.control-label {
		font-size: 15px;
	}
	/*ukr variant*/
	#smittya {
		font-size: 23px;
	}
	#navantazhuvach {
		font-size: 23px;
	}
	#navantazhuvachvil {
		font-size: 25px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	/*footer*/



	#logo-down-img {
	background: url('../images/logo-down180-118.png') no-repeat;
	width: 180px;
	height: 118px;
	margin: 0;
	}
	#footer-adress {
	font-size: 15px;
	margin-bottom: 0;
	}
	#footer-tel {
	font-size: 15px;
	}	
	.green p {
		text-align:right; 
		color:#57585A; 
		font-size: 21px;
	}
	.green p>span {
		margin-left: 40px;
	}
	
	#logo-img {
		background: url('../images/logo-up170-72.png') no-repeat;
		width: 170px;
		height: 72px;
	/*	margin: 0 0 10px 0;*/
	}
	#nav-list>li>a {
		font-size: 14px;
		padding: 10px 5px;
	}
	#nav-list-down>li>a {
		font-size: 14px;
		padding: 10px 5px;
	}

	#main-content .jumbotron {
		background: url('../images/baner738-272.jpg') no-repeat;
		height: 272px;	
	}
	#main-content-ukr .jumbotron {
		background: url('../images/baner-ukr749-272.jpg') no-repeat;
		height: 272px;	
	}
	/*main*/
	#about span, #technika span, #building span, #shipping span, #rent span, #contact span {
		font-size: 23px;
		/*display: table-cell;
		vertical-align: middle;*/

	}
/*	.no-padding {
	padding-left: 40px;
	padding-right: 0;
	}*/
	/*technika*/
	#main-content-technika .jumbotron{
		background: url('../images/baner-tech738-272.jpg') no-repeat;
		height: 272px;	
	}
	/*about*/
	#logo-tools-about {
		background: url('../images/tools-about131-40.jpg') no-repeat;
		width: 131px;
		height: 40px;
		margin-left: 5px;
		margin-right: 10px;
		margin-top: 15px;
	}
	#tools-about-p {
		color: #4D4D4D;
		padding-top: 15px;
		padding-right: 20px;
		padding-left: 10px;
		font-size: 17px;
	}

	/*all technika*/
	h1.pull-left {
	font-size: 26px;
	margin-top: 10px;
	}
	#front-29 {
	font-size: 24px;
	}
	header h1.technika-h1 {
		font-size: 22px;	
	}
	.odd {
		height: 45px;
	}
	.even {
		height: 45px;
	}
	/*forma*/
	label.control-label {
		font-size: 12px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	/*home page*/
	.green {
	height: 30px;
	background-color: #6cac57; 
}
	.green p {
		text-align:right; 
		color:#57585A; 
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0;

	}
	.green p>span {
		margin-left: 15px;
	}
	#change-lang>button {
	
	font-size: 21px;
	
}
#change-lang>.dropdown-menu>li>a {
	

	font-size: 21px;
	
}
	#logo-img {
		background: url('../images/logo-up170-72.png') no-repeat;
		width: 170px;
		height: 72px;
	/*	margin: 0 0 10px 0;*/
	}
	.container .jumbotron {

		margin-top: 0;
		padding: 0;
	}

#about, #technika, #building, #shipping, #rent, #contact {
	width: 260px;
	margin: 0 auto 15px;
	}

#about-company {
	height: 240px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 1px solid #56575a;
	overflow: hidden;
	}

	/*technika*/
	#avtokran, #avtovyshka, #assenizator, #ekskavator, #buldozer, #samosval, #evakuator,
 	#pogruzchikvil, #pogruzchikfront, #skreper, #perevozka, #spil, #kultivator, #kran {
 	width: 260px;
	margin: 0 auto 15px;
 	}
	/*about*/
 	#logo-tools-about {
		background: url('../images/tools-about164-50.jpg') no-repeat;
		width: 164px;
		height: 50px;
		margin-left: 5px;
		margin-right: 10px;
		margin-top: 15px;
	}
	#tools-about-p {
		color: #4D4D4D;
		padding-top: 15px;
		padding-right: 20px;
		padding-left: 10px;
		font-size: 19px;
	}
 	/*all technika*/
 	h1.pull-left {
	font-size: 22px;
	margin-top: 10px;
	}
	#front-29 {
	font-size: 22px;
	}
	header h1.technika-h1 {
		font-size: 20px;	
	}
	.odd {
		height: 50px;
	}
	.even {
		height: 50px;
	}
	/*forma*/
	label.control-label {
		font-size: 14px;
	}
	div.col-sm-7.col-xs-12, div.col-sm-7.col-xs-12 div.form-group.col-sm-12.col-xs-12 {
		padding-right: 0;
	}
}
@media (max-width: 479px) {
	/*home page*/
	.green p {
		text-align:right; 
		color:#57585A; 
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 0;
	}
	.green p>span {
		margin-left: 10px;
	}
	#about, #technika, #building, #shipping, #rent, #contact {
		width: 240px;
		margin: 0 auto 15px;
	}

/*techika*/
.container .jumbotron {

		margin-top: 0;
		padding: 0;
	}
	#avtokran, #avtovyshka, #assenizator, #ekskavator, #buldozer, #samosval, #evakuator,
	 #pogruzchikvil, #pogruzchikfront, #skreper, #perevozka, #spil, #kultivator, #kran {
 	width: 240px;
	margin: 0 auto 15px;
 	}
 	header h1.technika-h1 {
		font-size: 23px;
	}
	.odd {
		height: 40px;
	}
	.even {
		height: 40px;
	}
 	#f1, #f2 {
	
	font-size: 19px;
	}
	label.control-label {
		font-size: 12px;
	}
	div.col-sm-7.col-xs-12, div.col-sm-7.col-xs-12 div.form-group.col-sm-12.col-xs-12 {
		padding-right: 0;
	}
}


