body {
  font-size: 16px;
  color: white;
  background-color: #707070;
  font-family: 'Oxygen', sans-serif;
}

/*.green {
	height: 40px;
	background-color: #6cac57; 
}*/
/*Header*/

#header-nav {
	background-color: #56575a;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/logo-up170-72.png') no-repeat;
	width: 170px;
	height: 72px;
	margin: 0 0 10px 0;

}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
#nav-list a:hover {
	color: #6cac57;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #6cac57;
}
.navbar-nav .open .dropdown-menu {
	background-color: #56575a;
}
/*end header*/


/*footer*/
.panel-footer {
	background-color: #707070;
	border-top: 0;
	padding: 0;
	background-color: #56575a;
}
#logo-down-img {
	background: url('../images/logo-down200-131.png') no-repeat;
	width: 200px;
	height: 131px;
	margin: 0;
	

	

}

#foot a {
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	width: 100px;
}
#foot a:hover {
	color: #6cac57;
}


/*
#logo-nav {
	position: absolute;
	width: 300px;
	height: 80px;
	left: 50px;
	top: 0;
	background-color: #474747;
	z-index: 100;
}
*/



/*Home page*/

.container .jumbotron {
	box-shadow: 0 2px 30px #404040;
	border: 1px solid #404040;
	
}
#main-content {
	margin-bottom: 70px;
}
#about-company {
	height: 550px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 1px solid #56575a;
	overflow: hidden;
}

#about, #technika, #building, #shipping, #rent, #contact {
	height: 260px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 1px solid #56575a;
	border-radius: 5px;
	overflow: hidden;
}

#about:hover, #technika:hover, #building:hover, #shipping:hover, #rent:hover, #contact:hover {
	box-shadow: 0 2px 5px 1px #56575a;
}

#about {
	background: url('../images/about260-173.jpg') no-repeat;
	background-position: bottom;
}
#technika {
	background: url('../images/technika260-173.jpg') no-repeat;
	background-position: bottom;
}
#building {
	background: url('../images/building260-173.jpg') no-repeat;
	background-position: bottom;
}
#shipping {
	background: url('../images/shipping260-173.jpg') no-repeat;
	background-position: bottom;
}
#rent {
	background: url('../images/rent260-173.jpg') no-repeat;
	background-position: bottom;
}
#contact {
	background: url('../images/contact260-173.jpg') no-repeat;
	background-position: bottom;
}

#about span, #technika span, #building span, #shipping span, #rent span, #contact span {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	font-size: 1.3em;
	text-align: center;
	text-transform: uppercase;
	background-color: green;
	color: white;
}
/*End home page*/

/*technika*/

.technika-main {
	height: 260px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 1px solid #56575a;
	border-radius: 5px;
	overflow: hidden;
}

.technika-main:hover {
	box-shadow: 0 2px 5px 1px #56575a;
}
/*end techika*/

/*avtokran*/
.technika {
	height: 500px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 1px solid #56575a;
	border-radius: 5px;
	overflow: hidden;
}
/*#example {
	width: 300px;
}*/

/***********************/
@media (min-width: 1200px) {
	.container .jumbotron {
		background: url('../images/baner1170-432.jpg') no-repeat;
		height: 432px;


	
		
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#logo-img {
		background: url('../images/logo-up170-72.png') no-repeat;
		width: 170px;
		height: 72px;
		margin: 0 0 10px 0;
	}

	.container .jumbotron {
		background: url('../images/baner962-355.jpg') no-repeat;
		height: 355px;
		
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container .jumbotron {
		background: url('../images/baner738-272.jpg') no-repeat;
		height: 272px;


		
	}
}

@media (max-width: 767px) {
	.container .jumbotron {

		margin-top: 0;
		padding: 0;
	}

#about, #technika, #building, #shipping, #rent, #contact {
	width: 260px;
	margin: 0 auto 15px;
}

#about-company {
	height: 260px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 1px solid #56575a;
	overflow: hidden;
}

@media (max-width: 479px) {
	/*home page*/
	#about, #technika, #building, #shipping, #rent, #contact {
		width: 240px;
		margin: 0 auto 15px;
	}

}


